

#docBody {
	background: white;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #615F5E;
	text-align: center;
	width: 600px; /* Make sure any resolution can display it */
	/*margin: 0 auto;*/ /* Center it */
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 200px;
    height: 400px;
    background: white;
    border-radius: 10px;
    float: left;
    /*margin-right: 10px;*/
}

body {
	background: url('images/congruent_outline.png') repeat top center fixed;
	
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Roboto', sans-serif;*/
	color: #609433;
}

pre {
	padding: 16px;
	overflow: auto;
	border-radius: 3px;
	width: auto;
	height: auto;
}

.center {
    margin: 0 auto;
    width: 800px;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
	margin: 50px;
}